.cart {
  width: 15%;
  margin: 15px;
  cursor: pointer;
}

.cart-icon {
  background-color: #fff;
}

.cart-delete {
  width: 15%;
  height: 15%;
  margin: 15px;
  cursor: pointer;
}

.cart_product-wrapper {
  display: flex;
  flex-direction: column;
}

.cart_heading {
  text-align: center;
}

