.modal_button_item {
  border: 0;
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #fff;
  border-radius: 15px;
  margin: 15px;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: red;
  }
}