body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: rgb(216, 201, 255);
}

.add-btn {
    width: 150px;
    display: block;
    margin-left: auto;
    background-color: #049186;
    color: #fff;
    outline: none;
    border: 1px solid #049186;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #04c5b9;
}

.post {
    background-color: rgb(162, 166, 249);
    border: 2px solid #1e165e;
    border-radius: 20px 20px 20px 0;
    margin: 10px 0;
}

.post__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__id {
    color: #fff;
    text-align: center;
    margin: 10px 10px;
    width: 60px;
    height: 20px;
    line-height: 20px;
    vertical-align: center;
    border-radius: 5px;
    background-color: #483d8b;
}

.post__email {
    color: #4d4d4d;
    font-size: 14px;
    margin: 10px 40px;
}

.post__name {
    font-weight: bold;
    margin: 10px 40px;
}

.post__title {
    border-top: 1px solid rgba(66, 90, 145, 0.57);
    margin: 0 10px;
    padding: 5px 0;
    text-transform: uppercase;
}

.post__body {
    font-size: 14px;
    border: 1px solid rgba(66, 90, 145, 0.57);
    border-left: none;
    border-right: none;
    margin: 0 10px;
    padding: 5px 0;
}

.post__btns-container {
    display: flex;
    justify-content: flex-end;
    }

.post__edit-btn {
    width: 50px;
    height: 30px;
    background-color: #483d8b;
    color: #fff;
    outline: none;
    border: 1px solid #483d8b;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.post__remove-btn {
    width: 100px;
    height: 30px;
    background-color: #483d8b;
    color: #fff;
    outline: none;
    border: 1px solid #483d8b;
    border-radius: 5px;
    margin: 5px 10px 0 5px;
}

.post__edit-btn:hover, .post__remove-btn:hover {
    background-color: #775cd9;
}


/*--------------------modal--------------------*/
.modal-container {
    background-color: rgb(156, 173, 215);
    width: 600px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 1010;
    display: none;
}

.modal-container.opened {
    display: block;
}

.modal-overlay {
    background-color: rgba(17, 13, 17, 0.84);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-overlay.opened {
    display: block;
}

.modal__userName-textarea {
    margin: 30px 3px 0 0;
    transform: translateX(150px);
    width: 143px;
    height: 20px;
    resize: none;
    outline: none;
    border: 1px solid rgb(156, 173, 215);
}

.modal__title-textarea {
    display: block;
    margin: 30px 0 15px 0;
    transform: translateX(150px);
    width: 300px;
    height: 50px;
    resize: none;
    outline: none;
    border: 1px solid rgb(156, 173, 215);

}

.modal__body-textarea {
    display: block;
    transform: translateX(150px);
    width: 300px;
    height: 150px;
    resize: none;
    outline: none;
    border: 1px solid rgb(156, 173, 215);

}
.modal__userName-textarea:focus, .modal__title-textarea:focus, .modal__body-textarea:focus {
    border: 1px solid #384d91;
}

.modal__button-save {
    width: 150px;
    transform: translateX(150px);
    margin: 30px 0;
    cursor: pointer;
}

.modal__button-save:hover, .modal__button-cancel:hover {
    background-color: #049186;
    border: 1px solid #049186;
}

.modal__button-cancel {
    width: 150px;
    transform: translateX(155px);
    margin: 30px 0;
    cursor: pointer;
}