.nav_line {
  display: flex;
  justify-content: center;
  align-items: center;

}

ul {
  padding: 0;
}

.nav_bar {
  display: flex;
}

.nav_bar-list {
  list-style-type: none;
  margin: 0 5px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  font-size: 16px;
}

a.active {
  text-decoration: none;
  color: red;
  font-weight: bold;
}