.game {
    background-color: rgba(121, 118, 168, 0.76);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__header {
    text-transform: uppercase;
    margin: 5px;
}

.game__button {
    background-color: #247650;
    color: #fff;
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
}

.game__button.start.active{
    display: none;
}

.game__button.stop {
    display: none;
}

.game__button.stop.active {
    display: block;
}

.game__button.restart {
    display: none;
}
.game__button.restart.active {
    display: block;
}


.game__scores-wrapper {
    display: flex;
    justify-content: center;
}

.game__scores{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin: 10px 40px;
}

.game__scores.computer {
    background: #ff0000;
}

.game__scores.player {
    background: #008000;
}

.game__computer-scores, .game__player-scores {
    font-size: 14px;
    font-weight: bold;
}

.table {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.table__column {
    width: 10%;
    height: 10%;
    border: 1px solid grey;
}

.game__timer {
    display: block;

}

.timer {
    margin: 10px;
}
