body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.trello {
    width: 250px;
    min-height: 75vh;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgba(77, 77, 77, 0.77);
    margin: 0 auto;
    padding: 18px 0 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.trello__header {
    margin: 0;
    position: absolute;
    top: 5px;
    left: 5px;
}

.trello__sort-method {
    color: #fff;
    background-color: #008000;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.trello__cards-wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trello__card {
    width: 100%;
    min-height: 20px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 4px;
    margin: 5px auto;
}

.trello__card-text {
    width: 97%;
    font-size: 16px;
    min-height: 16px;
    line-height: 16px;
    display: block;
    outline: grey;
    border: none;
    border-radius: 5px;
    resize: none;
    margin: 5px 0;
}

.trello__add-button {
    background-color: rgba(30, 22, 94, 0.72);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    width: 180px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

