$mobile-min-width: 320px;
$mid-min-width: 480px;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;
$max-content-width: 1170px;
$max-footer-content-width: 460px;
$page-width: 90%;
$margin-center-block-position: 20px auto;

