@import "_vars";
@import "mixins";

.additional-block-style {
  @include mob-block-pos($mobile-min-width, $page-width, 30px auto);
}

.additional-block-header {
  margin: 15px 0;
  text-transform: uppercase;
  color: #4E4E4E;
  font-weight: bold;

  .link {
    text-decoration: none;

    &:visited {
      color: #4E4E4E;
    }
  }
}


.additional-block-header-text-latest {
  display: none;
}

.additional-block-header-s {
  display: none;
}

.additional-block-header.additional-line {
  display: none;
}

.additional-block-img {
  cursor: pointer;
  display: none;
}


.additional-block-img:first-child {
  display: block;
}


@media (min-width: $mid-min-width) {

  .additional-block-header-text-last {
    display: none;
  }

  .additional-block-header-text-latest {
    display: unset;
  }

  .additional-block-header-s {
    display: unset;
  }

  .additional-block-img-container {
    display: flex;
    justify-content: center;
  }

  .additional-block-img {
    width: calc((100% - 5px) / 2);
  }

  .additional-block-img:nth-child(2) {
    margin-left: 5px;
    display: block;
  }
}


@media (min-width: $tablet-min-width) {
  .additional-block-style {
    width: 100%;
    margin: 0;
    background-color: rgba(224, 224, 224, 0.91);
  }

  .additional-block-wrapper {
    width: $page-width;
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 20px 0;
  }

  .additional-text-header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-block-header.additional-line {
    font-size: 13px;
    display: block;
  }

  .additional-block-img-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;

    .additional-block-img:last-child {
      display: none;
    }

    .additional-block-img:nth-child(2) {
      margin: 0 5px;
    }
  }

  .additional-block-img {
    width: calc((100% - 10px) / 3);
    height: auto;
    display: block;
  }
}

@media (min-width: $desktop-min-width) {
  .additional-block-img-container {
    .additional-block-img:nth-child(3) {
      margin-right: 5px;
    }

    .additional-block-img:last-child {
      display: unset;
    }
  }

  .additional-block-img {
    width: calc((100% - 15px) / 4);
    height: auto;
    display: block;
  }
}



