@import "_vars";
@import "mixins";

.footer-block-style {
  min-width: $mobile-min-width;
  background-color: #000;
}

.footer-block-wrapper {
  width: 60%;
  max-width: $max-footer-content-width;
  margin: 0 auto;
}

.footer-block-header {
  padding: 30px 0 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.footer-block-description {
  margin: 10px auto;
  line-height: 28px;
  color: #B9B9B9;
  font-size: 12px;
  text-align: center;
}

.footer-block-icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.footer-block-icons-img {
  margin-left: 5px;
  cursor: pointer;
}

@media (min-width: $tablet-min-width){
  .footer-block-description-wrapper {
    margin: 0 auto;
    display: flex;
  }
}



