@import "_vars";
@import "mixins";
@import "humbtn";

.header-block-style {
  @include mob-block-pos($mobile-min-width, $page-width, $margin-center-block-position);
}

.header-menu-wrapper {
  display: flex;
  flex-direction: column;
}

.header-button-external-wrapper {
  width: 182px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.header-navigation {
  background-color: #fff;
  width: 182px;
  position: absolute;
  top: 37px;
  right: 0;
  visibility: hidden;
}

.header-navigation.active {
  visibility: visible;
}

.header-menu-list {
  font-size: 11px;
  height: 28px;
  border-bottom: 1px solid #F5F5F5;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &:hover {
    background-color: #F5F5F5;
  }
}

.header-menu-list-link {
  color: #4E4E4E;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 15px;

  &:active {
    color: #4E4E4E;
  }
}

.header-menu-list-link.active {
  color: #57A4A4;
}

.header-img-wrapper {
  width: 100%;
  max-width: $max-content-width;
  margin: 20px auto;
}

.header-img {
  width: 100%;
  height: auto;
  display: inline-block;
}

@media (min-width: $tablet-min-width) {

  .hamburger-button-wrapper {
    display: none;
  }

  .header-button-external-wrapper {
    width: $page-width;
    cursor: unset;
    margin: 20px auto;
    position: unset;
  }
  .header-navigation {
    width: 100%;
    position: unset;
    top: unset;
    right: unset;
    visibility: visible;
  }

  .header-menu-wrapper {
    display: unset;
  }

  .header-navigation-ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-menu-list {
    margin: 5px;
    height: auto;
    border-bottom: unset;
    display: unset;

    &:hover {
      background-color: unset;
      box-shadow: unset;
    }
  }
}

@media (min-width: $desktop-min-width) {

  .header-menu-list {
    margin: 20px;
  }
}