.hamburger-button-wrapper {
  background-color: #000;
  width: 44px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.hamburger-button {
  width: 17px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: background-color .2s ease-in .2s;

  &::before {
    content: '';
    width: 17px;
    height: 2px;
    position: absolute;
    top: -5px;
    left: 0;
    background-color: #fff;
    transition: transform .2s ease-in, top .2s linear .2s;
  }

  &::after {
    content: '';
    width: 17px;
    height: 2px;
    position: absolute;
    top: 5px;
    left: 0;
    background-color: #fff;
    transition: transform .2s ease-in, top .2s linear .2s;
  }
}

.hamburger-button.active {
  background-color: transparent;
  transition: background-color .2s ease-in .2s;

  &::before {
    transform: rotate(45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
  }

  &::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
  }
}

