@import "_vars";
@import "mixins";

.main-block-style {
  @include mob-block-pos($mobile-min-width, $page-width, $margin-center-block-position);
}

.main-block-header {
  margin: 20px 0;
  text-transform: uppercase;
  color: #4E4E4E;
  font-size: 14px;
  font-weight: bold;

  .link {
    text-decoration: none;
  }

  .link:visited {
    color: #4E4E4E;
  }
}

.main-block-post:last-child {
  display: none;
}


.main-block-post-img {
  margin-bottom: 10px;
}

.main-block-post-name {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: bold;
}

.main-block-post-name.link {
  text-decoration: none;

  &:visited {
    color: #4E4E4E;
  }
}


.main-block-post-feedback {
  color: #7C7C7C;
  font-size: 11px;
  margin: 10px 0 20px 0;
}

.main-block-post-description {
  color: #5C5C5C;
  font-size: 14px;
  display: none;
}

@media (min-width: $mid-min-width) {
  .main-block-post {
    display: flex;

    .mini-block-post-text-wrapper {
      margin: 5px 0 0 20px;
    }
  }
}

@media (min-width: $tablet-min-width) {
  .main-block-wrapper {
    margin: 10px 0;
  }

  .main-block-post {
    margin: 20px 0;
    display: flex;
    justify-content: start;
  }

  .main-block-post:last-child {
    margin: 20px 0;
    display: flex;
    justify-content: start;
  }

  .mini-block-post-text-wrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main-block-post-description {
    display: block;
  }
}

@media (min-width: $desktop-min-width) {
  .main-block-style {
    max-width: $max-content-width;
  }

  .main-block-post-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-block-post {
    width: 50%;
  }
}
