.favourite {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.favouriteSelected {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.favouriteSelected path {
    fill: #ff8c00;
}