.card {
  border: 1px solid #ccc;
  display: inline-block;
  width: 400px;

  &--header {
    text-align: center;
  }

  &--number-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &--product-number {
    color: #cccccc;
    margin: 15px;
  }

  &--img-wrapper {
    min-height: 260px;
  }

  &--img {
    display: block;
    margin: 0 auto;
    width: 250px;
    max-height: 260px;
    text-align: center;
  }

  &--color {
    margin: 15px;
  }

  &--price-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &--price {
    margin: 15px;
    font-weight: bold;
    color: #ff0900;
    font-size: 24px;
    word-wrap: break-word;
  }
}
