.body {
    background: #141515;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    min-width: 375px;
    margin: 0 auto;
}

/*---------- header ----------*/

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo-wrapper {
    margin-right: auto;
    margin-left: 10px;
}

.hamburger-button-wrapper {
    width: 44px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-button {
    width: 25px;
    height: 2px;
    background-color: #ed9a11;
    position: relative;
    transition: background-color .2s ease-in .2s;
}

.hamburger-button::before {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    top: -8px;
    left: 0;
    background-color: #ed9a11;
    transition: transform .2s ease-in, top .2s linear .2s;
}

.hamburger-button::after {
    content: '';
    width: 25px;
    height: 2px;
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #ed9a11;
    transition: transform .2s ease-in, top .2s linear .2s;
}

.hamburger-button.active {
    background-color: transparent;
    transition: background-color .2s ease-in .2s;
}

.hamburger-button.active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
}

.hamburger-button.active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top .2s linear, transform .2s ease-in .2s;
}

.navigation.menu-list {
    visibility: hidden;
    transition: visibility .2s ease-in-out;
    line-height: 44px;
}

.menu-list {
    display: flex;
}

.navigation.menu-list.active {
    visibility: visible;
}

.menu_item {
    padding: 0 10px;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
}

.menu_item:hover {
    color: #ed9a11;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

/*---------------------main---------------------*/
.main-container {
    background-image: url("../images/main_img.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    width: 100%;
    height: 300px;
}

.pink-block {
    width: 70%;
    height: 64px;
    background: #ED1260;
    margin-left: auto;
    margin-right: 0;
}

.main-container-brand {
    width: 256px;
    height: 111px;
    transform: translate(14px, 30px);
    background: #141515;
    line-height: 111px;
    vertical-align: middle;
    text-align: center;
}

.main-container-link:hover, .main-container-link.text1:hover, .main-container-link.text2:hover {
    color: #ed9a11;
}

.main-container-website {
    width: 130px;
    height: 36px;
    transform: translate(79px, 40px);
    background: #141515;
    line-height: 36px;
    vertical-align: center;
    text-align: center;
}

.main-container-link.text1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
}

.main-container-link.service {
    color: #fff;
    text-decoration: none;
}

.main-container-link.service:hover {
    color: #ed9a11;
}

.main-container-link.text2 {
    font-size: 12px;
    color: #fff;
}

.main-container-link:visited {
    color: #fff;
}

.gym-description {
    color: #fff;
    font-size: 14px;
}

.gym-description-container {
    width: 80%;
    height: 80px;
    margin: 25px auto 0;
    text-align: justify;
}

.service-icons-container {
    width: 70%;
    min-width: 365px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.service-icons {
    width: 120px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15px;
}

.service-icon-element {
    height: 55px;
}

.service-icon-text-container {
    width: 120px;
    height: 30px;
    margin-top: 20px;
}

.service-icons-text {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.service-icons-text:nth-child(2n) {
    margin-left: 15px;
}

.map-wrapper {
    margin: 40px auto;
    width: 324px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ED1260;
}

.map-img {
    margin: 5px;
    width: 314px;
    height: 128px;
}

.map-pointer {
    position: relative;
}

.map-placeholder {
    position: absolute;
    top: 45px;
    left: 162px;
}

.map-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
}

/*---------- footer ----------*/
.contacts {
    height: auto;
    padding: 20px 0;
    margin: 50px 0 0 0;
    border: 2px solid #ed9a11;
}

.contacts-header {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.contacts-text-wrapper {
    margin-left: 25px;
}

.contacts-text {
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
}

.contacts-description-block {
    display: none;
}

.footer-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-block-wrapper {
    width: 165px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

@media (min-width: 500px) {

    .footer-block-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {

    /*---------- header ----------*/
    .wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .menu-list-element {
        padding: 0 30px;
    }

    .menu-list-element:last-child {
        padding: 0 0 0 30px;
    }

    .menu_item {
        font-size: 14px;
        padding: 0;
    }

    .hamburger-button-wrapper {
        display: none;
    }

    .navigation.menu-list {
        visibility: visible;
    }

    /*---------------------main---------------------*/
    .main-container-wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .main-container-website {

    }

    .main-central-block-wrapper {
        display: flex;
        justify-content: center;

    }

    .main-container {
        width: 90%;
        height: 513px;
    }

    .pink-block {
        display: inline-block;
        width: 10%;
        height: 347px;
        margin-left: 0;
    }

    .gym-description-container {
        margin-top: 20px;
        width: 80%;
        text-align: left;
        font-size: 25px;
    }

    .service-icons-container {
        width: 80%;
        max-width: 580px;
        margin-top: -50px;
    }

    .service-icons {
        margin: 30px;
    }

    /*---------- footer ----------*/
    .contacts {
        width: 80%;
        margin: 50px auto 10px;
        border: none;
    }

    .contacts-header {
        text-align: left;
        font-size: 24px;
    }

    .footer-block-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contacts-text-wrapper {
        margin-left: unset;
    }

    .contacts-description-block {
        display: block;
        text-align: center;
        color: #fff;
        font-size: 12px;
        margin-top: 20px;
    }
}

@media (min-width: 1280px) {

    /*---------- header ----------*/
    .menu-list-element {
        padding: 0 60px;
    }

    .menu-list-element:last-child {
        padding: 0 0 0 60px;
    }

    .menu_item {
        font-size: 16px;
    }

    .hamburger-button {
        display: none;
    }

    /*---------- main ----------*/
    .main-container {
        background-position-y: -300px;
    }

    .gym-description {
        font-size: 16px;
    }

    .service-icons-container {
        width: 80%;
        max-width: 780px;
    }

    .service-icons {
        margin: 20px 70px;
    }

    .service-icons-text {
        font-size: 14px;
    }

    /*---------- footer ----------*/
    .contacts {
        width: 80%;
        border: none;
    }

    .footer-block-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
