.favourite {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  cursor: pointer;
}

.favourite_wrapper {
  display: flex;
  flex-direction: column;
}

.favourite_header {
  text-align: center;
  color: #01019d;
}

.favouriteSelected {
  margin-right: 15px;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  cursor: pointer;
}

.favouriteSelected path {
    fill: #e7dc08;
}