.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_header {
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  background: #7e7e7e;
  z-index: 3;
}

.modal_wrapper {
  border-radius: 15px;
  width: 800px;
  height: 500px;
  z-index: 3;
  position: relative;
}

.modal_body {
  border-radius: 0 0 15px 15px;
  background: #c1bebe;
  width: 100%;
  height: 400px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_approve-img {
  width: 20%;
}

.modal_body-text {
  margin: 40px 15px;
  font-size: 30px;
}

.modal_buttons {
  margin: 15px;
}
