.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  background: #d44637;
  color: #fff;
  z-index: 3;
}

.modal_wrapper {
  width: 800px;
  height: 500px;
  z-index: 3;
  position: relative;
}

.modal_body {
  background: #e74c3c;
  width: 100%;
  height: 400px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal_body-text {
  color: #fff;
  margin: 40px 15px;
  font-size: 30px;
}

.modal_buttons {
  margin: 15px;
}


