.nav_bar {
  display: flex;
  margin-left: 50px;
}

.nav_bar-list {
  list-style-type: none;
  margin: 0 5px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
  font-size: 16px;
}

a.active {
  text-decoration: none;
  color: red;
  font-weight: bold;
}