.cart {
  width: 15%;
  margin: 15px;
  cursor: pointer;
}

.cart-icon {
  background-color: #fff;
}

.cart-delete {
  width: 15%;
  height: 15%;
  margin: 15px;
  cursor: pointer;
}

.cart_product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart_heading {
  color: #01019d;
  text-align: center;
}

.cart_checkout {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin: 15px auto;
}

.button_checkOut {
  margin-top: 15px;
}

