body {
    background-image: url("img/sw_wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 12px;
    text-align: center;
}

.header {
    text-align: center;
    font-family: "Star Wars", sans-serif;
    font-size: 56px;
}

.container__wrapper {
    width: 300px;
    height: 400px;
    border: 1px solid #fff;
    margin: 10px;
}

.container__episodeId {
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    font-weight: bold;
}

.container__title {
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 14px;
}

.container__opening-crawl {
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 10px;
}

.container__characters {
    width: 100%;
    font-size: 10px;
}

@font-face {
    font-family: Star Wars;
    src: url("fonts/SF Distant Galaxy.ttf");
}